header.masthead {
    min-height: 100vh;
    padding-top: 58px;
    padding-bottom: 0;
}
.home-community-board__header {
    font-weight: 700;
}
.home-community-board__grid-wrapper {
    margin: 30px 0;
}
.home-community-board__grid-item {
    text-align: center;
    padding: 20px;
}
.home-community-board__grid-stat-description {
    font-size: .8em !important;
    font-weight: 400 !important;
    margin: 0 !important;
}
.home-community-board__grid-stat {
    margin: 15px 0 9px;
    font-size: 1.6em;
    display: inline-block;
    line-height: 1em;
    font-weight: 600;
}
.home-community-board__grid-stat small {
    font-size: 13px;
}
.home-community-board__grid-icon {
    max-width: 40px;
    max-height: 100%;
    margin: auto;
    margin-bottom: 0px;
    opacity: .8;
}

.logo-container {
    margin-top: 0px;
    position: fixed;
    width: 100%;
    background-color: #070d1745;
    padding: 10px;
    text-align: left;
}
.logo-container img {
    max-width: 132px;
}
.hsg-page-width-normal{
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 501px)
{
  .home-community-board__grid-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin: 45px 0 0;
  }
  .home-community-board__grid-item {
      border-right: 1px solid #ffffff38;
      border-bottom: 1px solid #ffffff26;
  }
}
@media (min-width: 1025px)
{
.home-community-board__grid-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
}
.home-community-board__grid-item:nth-child(4n) {
    border-right: 0;
}
.home-community-board__grid-item:nth-child(n+5) {
    border-bottom: 0;
}
}
@media (max-width: 1024px) and (min-width: 501px)
{
.home-community-board__grid-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}
.home-community-board__grid-item:nth-child(2n) {
    border-right: 0;
}
}
@media (max-width: 1025px)
{
  .home-community-board__grid-item {
    border-bottom: 1px solid #ffffff1f;
}
}
